<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1>Shopping List</h1>
    <a asp-action="Create">Create New Item</a>
    <a asp-action="Finish">List Items</a>
    
</body>
</html>